<a class="anchor" id="top"></a>
## Assignment 3

1. drop the features you won't use with reasons

| Column Name | Description | Data type | Reason |
| --- | --- | --- | --- |
| AMT_ANNUITY | Loan annuity | Number |
| AMT_CREDIT | Credit amount of the loan | Number |
| AMT_GOODS_PRICE | For consumer loans it is the price of the goods for which the loan is given | Number |
| AMT_INCOME_TOTAL | Income of the client | Number |
| AMT_REQ_CREDIT_BUREAU_DAY | Number of enquiries to Credit Bureau about the client one day before application (excluding one hour before application) | Number | Duplicate |
| AMT_REQ_CREDIT_BUREAU_HOUR | Number of enquiries to Credit Bureau about the client one hour before application | Number | Duplicate |
| AMT_REQ_CREDIT_BUREAU_MON | Number of enquiries to Credit Bureau about the client one month before application (excluding one week before application) | Number | Duplicate |
| AMT_REQ_CREDIT_BUREAU_QRT | Number of enquiries to Credit Bureau about the client 3 month before application (excluding one month before application) | Number | Duplicate |
| AMT_REQ_CREDIT_BUREAU_WEEK | Number of enquiries to Credit Bureau about the client one week before application (excluding one day before application) | Number | Duplicate |
| AMT_REQ_CREDIT_BUREAU_YEAR | Number of enquiries to Credit Bureau about the client one day year (excluding last 3 months before application) | Number |
| CNT_CHILDREN | Number of children the client has | Number | Not significant |
| CNT_FAM_MEMBERS | How many family members does client have | Number | Not significant |
| CODE_GENDER | Gender of the client | Text |
| DAYS_BIRTH | Client's age in days at the time of application | Number |
| DAYS_EMPLOYED | How many days before the application the person started current employment | Number |
| DAYS_ID_PUBLISH | How many days before the application did client change the identity document with which he applied for the loan | Number |
| DAYS_LAST_PHONE_CHANGE | How many days before application did client change phone | Number |
| DAYS_REGISTRATION | How many days before the application did client change his registration | Number |
| DEF_30_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings defaulted on 30 DPD (days past due) | Number |
| DEF_60_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings defaulted on 60 (days past due) DPD | Number | Duplicate |
| EXT_SOURCE_2 | Normalized score from external data source | Number |
| EXT_SOURCE_3 | Normalized score from external data source | Number |
| FLAG_CONT_MOBILE | Was mobile phone reachable (1=YES, 0=NO) | Number |
| FLAG_DOCUMENT_10 | Did client provide document 10 | Number | Not significant |
| FLAG_DOCUMENT_11 | Did client provide document 11 | Number | Not significant |
| FLAG_DOCUMENT_12 | Did client provide document 12 | Number | Not significant |
| FLAG_DOCUMENT_13 | Did client provide document 13 | Number | Not significant |
| FLAG_DOCUMENT_14 | Did client provide document 14 | Number | Not significant |
| FLAG_DOCUMENT_15 | Did client provide document 15 | Number | Not significant |
| FLAG_DOCUMENT_16 | Did client provide document 16 | Number | Not significant |
| FLAG_DOCUMENT_17 | Did client provide document 17 | Number | Not significant |
| FLAG_DOCUMENT_18 | Did client provide document 18 | Number | Not significant |
| FLAG_DOCUMENT_19 | Did client provide document 19 | Number | Not significant |
| FLAG_DOCUMENT_2 | Did client provide document 2 | Number | Not significant |
| FLAG_DOCUMENT_20 | Did client provide document 20 | Number | Not significant |
| FLAG_DOCUMENT_21 | Did client provide document 21 | Number | Not significant |
| FLAG_DOCUMENT_3 | Did client provide document 3 | Number | Not significant |
| FLAG_DOCUMENT_4 | Did client provide document 4 | Number | Not significant |
| FLAG_DOCUMENT_5 | Did client provide document 5 | Number | Not significant |
| FLAG_DOCUMENT_6 | Did client provide document 6 | Number | Not significant |
| FLAG_DOCUMENT_7 | Did client provide document 7 | Number | Not significant |
| FLAG_DOCUMENT_8 | Did client provide document 8 | Number | Not significant |
| FLAG_DOCUMENT_9 | Did client provide document 9 | Number | Not significant |
| FLAG_EMAIL | Did client provide email (1=YES, 0=NO) | Number | Not significant |
| FLAG_EMP_PHONE | Did client provide work phone (1=YES, 0=NO) | Number | Not significant |
| FLAG_MOBIL | Did client provide mobile phone (1=YES, 0=NO) | Number | Not significant |
| FLAG_OWN_CAR | Flag if the client owns a car | Text | Not significant |
| FLAG_OWN_REALTY | Flag if client owns a house or flat | Text | Not significant |
| FLAG_PHONE | Did client provide home phone (1=YES, 0=NO) | Number | Not significant |
| FLAG_WORK_PHONE | Did client provide home phone (1=YES, 0=NO) | Number | Not significant |
| HOUR_APPR_PROCESS_START | Approximately at what hour did the client apply for the loan | Number | Not significant |
| LIVE_CITY_NOT_WORK_CITY | Flag if client's contact address does not match work address (1=different, 0=same, at city level) | Number | Not significant |
| LIVE_REGION_NOT_WORK_REGION | Flag if client's contact address does not match work address (1=different, 0=same, at region level) | Number | Not significant |
| NAME_CONTRACT_TYPE | Identification if loan is cash or revolving | Text | Not significant |
| NAME_EDUCATION_TYPE | Level of highest education the client achieved | Text | Not significant |
| NAME_FAMILY_STATUS | Family status of the client | Text | Not significant |
| NAME_HOUSING_TYPE | What is the housing situation of the client (renting, living with parents, ...) | Text | Not significant |
| NAME_INCOME_TYPE | Clients income type (businessman, working, maternity leave,…) | Text | Not significant |
| NAME_TYPE_SUITE | Who was accompanying client when he was applying for the loan | Text | Not significant |
| OBS_30_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings with observable 30 DPD (days past due) default | Number |
| OBS_60_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings with observable 60 DPD (days past due) default | Number | Duplicate |
| OCCUPATION_TYPE | What kind of occupation does the client have | Text |
| ORGANIZATION_TYPE | Type of organization where client works | Text | Not significant |
| REG_CITY_NOT_LIVE_CITY | Flag if client's permanent address does not match contact address (1=different, 0=same, at city level) | Number | Not significant |
| REG_CITY_NOT_WORK_CITY | Flag if client's permanent address does not match work address (1=different, 0=same, at city level) | Number | Not significant |
| REG_REGION_NOT_LIVE_REGION | Flag if client's permanent address does not match contact address (1=different, 0=same, at region level) | Number | Not significant |
| REG_REGION_NOT_WORK_REGION | Flag if client's permanent address does not match work address (1=different, 0=same, at region level) | Number | Not significant |
| REGION_POPULATION_RELATIVE | Normalized population of region where client lives (higher number means the client lives in more populated region) | Number | Not significant |
| REGION_RATING_CLIENT | Our rating of the region where client lives (1,2,3) | Number | Not significant |
| REGION_RATING_CLIENT_W_CITY | Our rating of the region where client lives with taking city into account (1,2,3) | Number | Not significant |
| SK_ID_CURR | ID of loan in our sample | Number | Not significant |
| WEEKDAY_APPR_PROCESS_START | On which day of the week did the client apply for the loan | Text | Not significant |

2. data pre-processing, such as handling missing data and outliers, fix data errors, scaling, transformations, etc.
<br>
   A lot of outliers were removed when we removed the null data using dropna. 
   e.g. for days employed we had a max value of 365243.0 (Days employed should be a negative number). These values were removed by drop na.
3. start building the preprocessing pipelines 
4. attach at least one modal to test the pipeline 
    <br>
    We have build a pipeline with the selected columns and using random forest as classifier as it gave us the best results in tests.

5. pick and explain the evaluation metric and report the initial model performance


## Assignment 2

In this assignment, you should start doing EDA and you need to do at least the following:
1. understand the meanings of each feature
2. understand the data types of each feature (when Pandas loads your data, the auto detection of data types may not always be correct)
3. plot features to better understand the basic descriptive statistics, distribution, correlation, etc. 
4. spot potential data issues: missing data, outliers, data errors, etc. 

You should have a Markdown cell on top of the notebook to BRIEFLY summarize the findings/insights from EDA and how EDA helps to guide the following steps (data preprocessing, model building, etc.)

You need to submit a notebook file **AND** the PDF export of the notebook (easier for me to view directly on Canvas) to Canvas - to be clear: I am expecting two files (.ipynb and .pdf).


#### 1. understand the meanings of each feature
#### 2. understand the data types of each feature (when Pandas loads your data, the auto detection of data types may not always be correct)
<br>
Please see the below table for meaning and data-type of each feature:

| Column Name | Description | Data type |
| --- | --- | --- |
| AMT_ANNUITY | Loan annuity | Number |
| AMT_CREDIT | Credit amount of the loan | Number |
| AMT_GOODS_PRICE | For consumer loans it is the price of the goods for which the loan is given | Number |
| AMT_INCOME_TOTAL | Income of the client | Number |
| AMT_REQ_CREDIT_BUREAU_DAY | Number of enquiries to Credit Bureau about the client one day before application (excluding one hour before application) | Number |
| AMT_REQ_CREDIT_BUREAU_HOUR | Number of enquiries to Credit Bureau about the client one hour before application | Number |
| AMT_REQ_CREDIT_BUREAU_MON | Number of enquiries to Credit Bureau about the client one month before application (excluding one week before application) | Number |
| AMT_REQ_CREDIT_BUREAU_QRT | Number of enquiries to Credit Bureau about the client 3 month before application (excluding one month before application) | Number |
| AMT_REQ_CREDIT_BUREAU_WEEK | Number of enquiries to Credit Bureau about the client one week before application (excluding one day before application) | Number |
| AMT_REQ_CREDIT_BUREAU_YEAR | Number of enquiries to Credit Bureau about the client one day year (excluding last 3 months before application) | Number |
| CNT_CHILDREN | Number of children the client has | Number |
| CNT_FAM_MEMBERS | How many family members does client have | Number |
| CODE_GENDER | Gender of the client | Text |
| DAYS_BIRTH | Client's age in days at the time of application | Number |
| DAYS_EMPLOYED | How many days before the application the person started current employment | Number |
| DAYS_ID_PUBLISH | How many days before the application did client change the identity document with which he applied for the loan | Number |
| DAYS_LAST_PHONE_CHANGE | How many days before application did client change phone | Number |
| DAYS_REGISTRATION | How many days before the application did client change his registration | Number |
| DEF_30_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings defaulted on 30 DPD (days past due)  | Number |
| DEF_60_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings defaulted on 60 (days past due) DPD | Number |
| EXT_SOURCE_2 | Normalized score from external data source | Number |
| EXT_SOURCE_3 | Normalized score from external data source | Number |
| FLAG_CONT_MOBILE | Was mobile phone reachable (1=YES, 0=NO) | Number |
| FLAG_DOCUMENT_10 | Did client provide document 10 | Number |
| FLAG_DOCUMENT_11 | Did client provide document 11 | Number |
| FLAG_DOCUMENT_12 | Did client provide document 12 | Number |
| FLAG_DOCUMENT_13 | Did client provide document 13 | Number |
| FLAG_DOCUMENT_14 | Did client provide document 14 | Number |
| FLAG_DOCUMENT_15 | Did client provide document 15 | Number |
| FLAG_DOCUMENT_16 | Did client provide document 16 | Number |
| FLAG_DOCUMENT_17 | Did client provide document 17 | Number |
| FLAG_DOCUMENT_18 | Did client provide document 18 | Number |
| FLAG_DOCUMENT_19 | Did client provide document 19 | Number |
| FLAG_DOCUMENT_2 | Did client provide document 2 | Number |
| FLAG_DOCUMENT_20 | Did client provide document 20 | Number |
| FLAG_DOCUMENT_21 | Did client provide document 21 | Number |
| FLAG_DOCUMENT_3 | Did client provide document 3 | Number |
| FLAG_DOCUMENT_4 | Did client provide document 4 | Number |
| FLAG_DOCUMENT_5 | Did client provide document 5 | Number |
| FLAG_DOCUMENT_6 | Did client provide document 6 | Number |
| FLAG_DOCUMENT_7 | Did client provide document 7 | Number |
| FLAG_DOCUMENT_8 | Did client provide document 8 | Number |
| FLAG_DOCUMENT_9 | Did client provide document 9 | Number |
| FLAG_EMAIL | Did client provide email (1=YES, 0=NO) | Number |
| FLAG_EMP_PHONE | Did client provide work phone (1=YES, 0=NO) | Number |
| FLAG_MOBIL | Did client provide mobile phone (1=YES, 0=NO) | Number |
| FLAG_OWN_CAR | Flag if the client owns a car | Text |
| FLAG_OWN_REALTY | Flag if client owns a house or flat | Text |
| FLAG_PHONE | Did client provide home phone (1=YES, 0=NO) | Number |
| FLAG_WORK_PHONE | Did client provide home phone (1=YES, 0=NO) | Number |
| HOUR_APPR_PROCESS_START | Approximately at what hour did the client apply for the loan | Number |
| LIVE_CITY_NOT_WORK_CITY | Flag if client's contact address does not match work address (1=different, 0=same, at city level) | Number |
| LIVE_REGION_NOT_WORK_REGION | Flag if client's contact address does not match work address (1=different, 0=same, at region level) | Number |
| NAME_CONTRACT_TYPE | Identification if loan is cash or revolving | Text |
| NAME_EDUCATION_TYPE | Level of highest education the client achieved | Text |
| NAME_FAMILY_STATUS | Family status of the client | Text |
| NAME_HOUSING_TYPE | What is the housing situation of the client (renting, living with parents, ...) | Text |
| NAME_INCOME_TYPE | Clients income type (businessman, working, maternity leave,…) | Text |
| NAME_TYPE_SUITE | Who was accompanying client when he was applying for the loan | Text |
| OBS_30_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings with observable 30 DPD (days past due) default | Number |
| OBS_60_CNT_SOCIAL_CIRCLE | How many observation of client's social surroundings with observable 60 DPD (days past due) default | Number |
| OCCUPATION_TYPE | What kind of occupation does the client have | Text |
| ORGANIZATION_TYPE | Type of organization where client works | Text |
| REG_CITY_NOT_LIVE_CITY | Flag if client's permanent address does not match contact address (1=different, 0=same, at city level) | Number |
| REG_CITY_NOT_WORK_CITY | Flag if client's permanent address does not match work address (1=different, 0=same, at city level) | Number |
| REG_REGION_NOT_LIVE_REGION | Flag if client's permanent address does not match contact address (1=different, 0=same, at region level) | Number |
| REG_REGION_NOT_WORK_REGION | Flag if client's permanent address does not match work address (1=different, 0=same, at region level) | Number |
| REGION_POPULATION_RELATIVE | Normalized population of region where client lives (higher number means the client lives in more populated region) | Number |
| REGION_RATING_CLIENT | Our rating of the region where client lives (1,2,3) | Number |
| REGION_RATING_CLIENT_W_CITY | Our rating of the region where client lives with taking city into account (1,2,3) | Number |
| SK_ID_CURR | ID of loan in our sample | Number |
| WEEKDAY_APPR_PROCESS_START | On which day of the week did the client apply for the loan | Text |


#### 3. plot features to better understand the basic descriptive statistics, distribution, correlation, etc.
[EDA](#eda)

#### 4. spot potential data issues: missing data, outliers, data errors, etc.
Please see the below for EDA analysis:
1. Some data for EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_QRT missing, we may have to delete these rows and see if we can create the model, worst case we may have to remove these columns and check if the model can be generated.
1. Mean income is 168,798. Max income is 117,000,000
1. Mean credit is 599,026. Max credit is 4,050,000
1. Mean age is 44 years, Min age is 21 years, Max age is 69 years
1. Mean employment tenure is skewed because of few outliers, which we will filter to get a better model.
1. AMT_REQ_CREDIT_BUREAU_QRT - Number of enquiries to Credit Bureau about the client 3 month before application (excluding one month before
application)
1. FLAG_OWN_CAR, FLAG_OWN_REALTY valid values are Y and N
1. NAME_INCOME_TYPE valid values are - Bussinessman, Commercial associate, Maternity leave, Pensioner, State servant, Student, unemployed, Working
1. NAME_EDUCATION_TYPE valid values  are - Academic degree, Higher education, Incomplete higher, Lower secondary, Secondary/secondary special
1. NAME_HOUSING_TYPE valid values are - Co-op apartment, House / apartment, Municipal apartment, Office apartment, Rented apartment, With parents
1. REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY  valid values are - 1, 2, 3
1. ORGANIZATION_TYPE has too many categories may cause over fitting.

## Assignment 1

## Summary
This data set is uploaded in order to get the insights of Credit card Defaultees based on the respective attributes. 
The consumer lending line of business @ JPMC is in the business of lending money to customers for loans, credit cards, mortgage, etc. and a model like this which can predict potential defaults would be immensely helpful in making lending decisions. The aim of the project is to provide this service, based on a ML model, which will be repeatable, scallable and retrainable.

## Data Set
Data set is from Kaggle : https://www.kaggle.com/mishra5001/credit-card

Source:

International Institute of Information Technology Bangalore

The Data was collected as part of Social Experiment to provide public inferences of how a person applying for Loan can get it completed in a minimal amount of time. Also, adhering to the facts as which type of customers fail to repay the installments or full loan and provide inference so that the person applying for loan does not falls into that category.

### Description from Kaggle:
#### Motive!

This data set is uploaded in order to get the insights of Credit card Defaultees based on the respective attributes!

#### Inside?

We have attributes such as IncomeTotal,AMTAPPLICATION,AMT_CREDIT and around 122 Columns in Application Data Set. The interesting thing is if you intend to see the patterns and variations, we can use the PREVIOUS APPLICATION data set also, in order to get more insights.!

#### Inspiration
We took this data set as our assignment and tried to perform the EDA to the best of our capability!

## Solution approach
This is a supervised classification problem since we are using existing features and target variable to first train the model on a subset of data and then evaluate the model's performance on the test data. We would pick the model that best meets the criteria of accuracy and performance. We are trying to predict if a loan request from a customer will default.


## Value to JP Morgan
The consumer lending line of business @ JPMC is in the business of lending money to customers for loans, credit cards, mortgage, etc. and a model like this which can predict potential defaults would be immensely helpful in making lending decisions, Also help JPMC to identify and train their customers for credit discipline.



## Aim of the project
Use the data to come up with a classification model, to approve or reject the application. Eventually build a scalable, repeatable service to give live classification decisions.

## Plan for deliverables
All code and analysis will be checkin in github:
https://github.com/amoghugupte/Slackers-Capstone

In [1]:
import pandas as pd # main focus of this Notebook!
import seaborn as sns
import matplotlib.pyplot as pyplot
import datetime

sns.set()

# df is a common name for a dataframe
df = pd.read_csv('application_data.csv') # read into a pandas DataFrame (df)

# head() is a handy way to visualize what you've loaded. 
df.head() 

#pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

model_fit_cores = 7
model_verbose_level = 4
#data_size_limit = 167732

In [2]:
df.shape

(307511, 122)

In [3]:
# create a new dataframe with a subset of columns


## The below column list gives 167K odd non null rows, hence keeping this for EDA
cols = ["TARGET", "AMT_ANNUITY", "AMT_CREDIT", "AMT_GOODS_PRICE", "AMT_INCOME_TOTAL", "AMT_REQ_CREDIT_BUREAU_YEAR", "DAYS_BIRTH", "DAYS_EMPLOYED", "DAYS_ID_PUBLISH", "DAYS_LAST_PHONE_CHANGE", "OBS_30_CNT_SOCIAL_CIRCLE"]


#'SK_ID_PREV','AMT_APPLICATION', 'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'CODE_REJECT_REASON', 'NAME_CLIENT_TYPE'  - No data
#'EXT_SOURCE_1',  'EXT_SOURCE_2', 'EXT_SOURCE_3', 
#'OCCUPATION_TYPE',
df_reduced = df.loc[:,cols].copy() # all rows (:)
df_reduced = df_reduced [(df_reduced.DAYS_EMPLOYED <= 0)]
df_reduced.shape

(252137, 11)

In [4]:
df_reduced.describe(include='all').transpose()

                               count           mean            std      min       25%       50%       75%          max
TARGET                      252137.0       0.086600       0.281248      0.0       0.0       0.0       0.0          1.0
AMT_ANNUITY                 252125.0   27812.325168   14647.759104   1980.0   17073.0   25834.5   35617.5     258025.5
AMT_CREDIT                  252137.0  611398.457583  406527.199875  45000.0  277969.5  521280.0  829224.0    4050000.0
AMT_GOODS_PRICE             251881.0  549405.668191  373268.534580  40500.0  247500.0  450000.0  693000.0    4050000.0
AMT_INCOME_TOTAL            252137.0  175914.070795  258851.587748  25650.0  112500.0  157500.0  211500.0  117000000.0
AMT_REQ_CREDIT_BUREAU_YEAR  218281.0       1.856277       1.826298      0.0       0.0       1.0       3.0         23.0
DAYS_BIRTH                  252137.0  -14769.133174    3662.573769 -25200.0  -17563.0  -14573.0  -11775.0      -7489.0
DAYS_EMPLOYED               252137.0   -2384.169325    2338.360162 -17912.0   -3175.0   -1648.0    -767.0          0.0
DAYS_ID_PUBLISH             252137.0   -2800.639724    1515.360629  -7197.0   -4177.0   -2886.0   -1487.0          0.0
DAYS_LAST_PHONE_CHANGE      252136.0    -971.038594     827.305303  -4292.0   -1578.0    -763.0    -288.0          0.0
OBS_30_CNT_SOCIAL_CIRCLE    251288.0       1.415762       2.399977      0.0       0.0       0.0       2.0        348.0

In [5]:
df_reduced = df_reduced.dropna()
df_reduced.shape

(217335, 11)

In [6]:
df_reduced.describe(include='all').transpose()

                               count           mean            std      min       25%       50%       75%          max
TARGET                      217335.0       0.082992       0.275870      0.0       0.0       0.0       0.0          1.0
AMT_ANNUITY                 217335.0   27931.622534   14532.515184   1980.0   17208.0   26014.5   35694.0     258025.5
AMT_CREDIT                  217335.0  620898.475871  409537.620572  45000.0  284400.0  528633.0  835605.0    4050000.0
AMT_GOODS_PRICE             217335.0  557646.250514  375924.008880  40500.0  247500.0  454500.0  702000.0    4050000.0
AMT_INCOME_TOTAL            217335.0  178418.866632  271657.082843  26550.0  112500.0  157500.0  225000.0  117000000.0
AMT_REQ_CREDIT_BUREAU_YEAR  217335.0       1.857796       1.826271      0.0       0.0       1.0       3.0         23.0
DAYS_BIRTH                  217335.0  -14866.891568    3618.436355 -25200.0  -17611.0  -14673.0  -11931.0      -7489.0
DAYS_EMPLOYED               217335.0   -2449.476679    2374.626327 -17912.0   -3269.0   -1704.0    -797.0          0.0
DAYS_ID_PUBLISH             217335.0   -2863.936964    1500.743106  -7197.0   -4208.0   -2981.0   -1584.0          0.0
DAYS_LAST_PHONE_CHANGE      217335.0    -995.861237     833.681981  -4185.0   -1611.0    -803.0    -298.0          0.0
OBS_30_CNT_SOCIAL_CIRCLE    217335.0       1.424483       2.419625      0.0       0.0       0.0       2.0        348.0

In [7]:
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217335 entries, 0 to 307510
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   TARGET                      217335 non-null  int64
 1   AMT_ANNUITY                 217335 non-null  float64
 2   AMT_CREDIT                  217335 non-null  float64
 3   AMT_GOODS_PRICE             217335 non-null  float64
 4   AMT_INCOME_TOTAL            217335 non-null  float64
 5   AMT_REQ_CREDIT_BUREAU_YEAR  217335 non-null  float64
 6   DAYS_BIRTH                  217335 non-null  int64
 7   DAYS_EMPLOYED               217335 non-null  int64
 8   DAYS_ID_PUBLISH             217335 non-null  int64
 9   DAYS_LAST_PHONE_CHANGE      217335 non-null  float64
 10  OBS_30_CNT_SOCIAL_CIRCLE    217335 non-null  float64
dtypes: float64(7), int64(4)
memory usage: 19.9 MB

<a class="anchor" id="sp"></a>

## EDA <a class="anchor" id="eda"></a>

[top](#top)

In [8]:
df_reduced.TARGET.value_counts()

0    199298
1     18037
Name: TARGET, dtype: int64

In [9]:
1- 14207/(153525 + 14207)

0.9152994061955977

In [10]:

X = df_reduced.drop(['TARGET'], axis=1)
y = df_reduced['TARGET']

print (X.columns)

Index(['AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'AMT_INCOME_TOTAL', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'DAYS_LAST_PHONE_CHANGE', 'OBS_30_CNT_SOCIAL_CIRCLE'], dtype='object')

In [11]:

num_features = ["AMT_ANNUITY", "AMT_CREDIT", "AMT_GOODS_PRICE", "AMT_INCOME_TOTAL", "AMT_REQ_CREDIT_BUREAU_YEAR", "DAYS_BIRTH", "DAYS_EMPLOYED", "DAYS_ID_PUBLISH", "DAYS_LAST_PHONE_CHANGE", "OBS_30_CNT_SOCIAL_CIRCLE"]
cat_features = []
#"NAME_FAMILY_STATUS",

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Create the preprocessing pipeline for numerical features
# There are two steps in this pipeline
# Pipeline(steps=[(name1, transform1), (name2, transform2), ...]) 
# NOTE the step names can be arbitrary

# Step 1 is what we discussed before - filling the missing values if any using mean
# Step 2 is feature scaling via standardization - making features look like normal-distributed 
# see sandardization: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)
num_pipeline = Pipeline(
    steps=[
        ('num_imputer', SimpleImputer()),  # we will tune differet strategies later
        ('scaler', StandardScaler()),
        ]
)

# Create the preprocessing pipelines for the categorical features
# There are two steps in this pipeline:
# Step 1: filling the missing values if any using the most frequent value
# Step 2: one hot encoding

cat_pipeline = Pipeline(
    steps=[
        ('cat_imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore')),
    ]
)

# Assign features to the pipelines and Combine two pipelines to form the preprocessor
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, num_features),
        ('cat_pipeline', cat_pipeline, cat_features),
    ]
)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
print(X_train.shape)
print(X_test.shape)

(173868, 10)
(43467, 10)

In [15]:
#combine them back for resampling
train_data = pd.concat([X_train, y_train], axis=1)

In [16]:
# separate minority and majority classes
negative = train_data[train_data.TARGET==0]
positive = train_data[train_data.TARGET==1]
# upsample minority
pos_upsampled = resample(positive,
replace=True, # sample with replacement
n_samples=len(negative), # match number in majority class
random_state=27) # reproducible results
# combine majority and upsampled minority
upsampled = pd.concat([negative, pos_upsampled])

In [17]:
# check new class counts
upsampled.TARGET.value_counts()

0    159485
1    159485
Name: TARGET, dtype: int64

In [18]:
X_train = upsampled.drop(['TARGET'], axis=1)
y_train = upsampled['TARGET']

In [19]:
# try random forest classifer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# rf pipeline
pipeline_rf = Pipeline([
    ('preprocessor', preprocessor),
    ('clf_rf', RandomForestClassifier()),
])

# here we are trying 2x3 different rf models
param_grid_rf = [
    {
        'clf_rf__criterion': ['gini', 'entropy'], 
        'clf_rf__n_estimators': [50, 100, 150],  
    }
]

# set up the grid search 
grid_search_rf = GridSearchCV(pipeline_rf, param_grid_rf, cv=10, scoring='accuracy', n_jobs=model_fit_cores, verbose=model_verbose_level)

In [20]:
print(datetime.datetime.now())

2021-06-28 20:20:07.613724

In [ ]:
%%time
# train the model using the full pipeline
grid_search_rf.fit(X_train, y_train)

Fitting 10 folds for each of 6 candidates, totalling 60 fits

In [ ]:
print(datetime.datetime.now())

In [ ]:
# check the best performing parameter combination
grid_search_rf.best_params_

In [ ]:
# build-in CV results keys
sorted(grid_search_rf.cv_results_.keys())

In [ ]:
# test score for the 20 decision tree models
grid_search_rf.cv_results_['mean_test_score']

In [ ]:
# best decistion tree model test score
grid_search_rf.best_score_

In [ ]:
# select the best model
# the best parameters are shown, note SimpleImputer() implies that mean strategry is used
clf_best = grid_search_rf.best_estimator_
clf_best

In [ ]:
# final test on the testing set
# To predict on new data: simply calling the predict method 
# the full pipeline steps will be applied to the testing set followed by the prediction
y_pred = clf_best.predict(X_test)

# calculate accuracy, precision, recall, f1-score
# Note: y_test is the ground truth for the tesing set
# we have similiar score for the testing set as the cross validation score - good
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

print(f'Accuracy Score : {accuracy_score(y_test, y_pred)}')
print(f'Precision Score : {precision_score(y_test, y_pred)}')
print(f'Recall Score : {recall_score(y_test, y_pred)}')
print(f'F1 Score : {f1_score(y_test, y_pred)}')

In [ ]:
print(datetime.datetime.now())

In [ ]:
import numpy as np

print (np.count_nonzero(y_test))
print (y_test.count())

## Baseline prediction

In [ ]:
group_norm = df_reduced['TARGET'].value_counts(normalize=True)
group_norm

In [ ]:
baseline_pred = np.zeros(y_test.count())

In [ ]:
# our model is better than the base line - good
print(f'Baseline Accuracy Score : {accuracy_score(y_test, baseline_pred)}')
print(f'Our Best Accuracy Score : {accuracy_score(y_test, y_pred)}')

## Feature Importance

In [ ]:
clf_best.named_steps

In [ ]:
clf_best.named_steps['preprocessor']

In [ ]:
i = clf_best['clf_rf'].feature_importances_
i

In [ ]:
clf_best['preprocessor'].transformers_

In [ ]:
clf_best[0]

In [ ]:
clf_best[0].transformers_

In [ ]:
num_original_feature_names = clf_best[0].transformers_[0][2]
num_original_feature_names

In [ ]:
cat_original_feature_names = clf_best[0].transformers_[1][2]
cat_original_feature_names

In [ ]:
cat_new_feature_names = list(clf_best[0].transformers_[1][1]['onehot'].get_feature_names(cat_original_feature_names))
cat_new_feature_names

In [ ]:
feature_names = num_original_feature_names + cat_new_feature_names
feature_names

In [ ]:
r = pd.DataFrame(i, index=feature_names, columns=['importance'])
r

In [ ]:
r.sort_values('importance', ascending=False)

In [ ]:
r.sort_values('importance', ascending=False).plot.bar()